{{!< default}}
{{!-- 
/**
 * Engagement Lab Website
 * Developed by Engagement Lab, 2015
 * ==============
 * 
 * Script includes partial for individual sections
 * ==========
 */
--}}

<script type="text/javascript">
	$(document).ready(function() {

		/*
		 Analytics start
		 ==============
		*/
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-64617433-1', 'auto');
		ga('send', 'pageview');
		/*
		 =============
		 Analytics end
		*/

		{{!-- INDEX Template Script --}}
		{{#ifeq section 'home'}}
			
			// Load the video only on desktops
			if (!jQuery.browser.mobile) {
				
				// Selects a random start time for the video
				var vid = "https://player.vimeo.com/video/152725215?background=1&autoplay=1&loop=1#t=";
				var times = [
					"0m0s",
					"0m22s",
					"0m47s",
					"1m14s",
					"1m51s"
				];
				var time = times[Math.floor(Math.random()*times.length)];
				var iframe = $('iframe');

				// Embed video w/ start time
				iframe.prop('src', vid + time);

				// Show player only on froogaloop ready event
				$f(iframe[0]).addEvent('ready', function() {
					iframe.fadeTo(1000, 1);
		    });

			}

			// Initialize featured projects carousel
			$("#featured_glider").glide({

	        type: "carousel",
	        autoplay: false,
	        autoheight: true

	    });

		{{/ifeq}}



		{{!-- ABOUT Template Script --}}
		{{#ifeq section 'about'}}

			var gliderDom = $("#partners_glider");
			var gliderApi;

			imageLoaded(gliderDom, function() {
			
				// Initialize partners carousel
				var gliderObj = gliderDom.glide({

		        type: "carousel",
		        autoplay: false,
		        autoheight: true,
		        afterTransition: function(evt) {
		        	// Select corresponding partner
							selectPartner($('.client-image').eq(evt.index-1));
						}
		    
		    });
		    gliderApi = gliderObj.data('glide_api');

				$('.client-image').click(function() {
					// go to slide for index
					var ind = $(this).index()+1;
					gliderApi.go('=' + ind);
					selectPartner($(this));
				});

			});

			function selectPartner(selector) {
				$('.clients>.client-image.selected').removeClass('selected');
				selector.addClass('selected');
			}

		{{/ifeq}}

		{{!-- BIO Template Script --}}
		{{#ifeq section 'person'}}


			var gliderDom = $("#people_glider");
	    var gliderApi;

			imageLoaded(gliderDom, function() {

				// Initialize people carousel
				var gliderObj = gliderDom.glide({
		        type: "carousel",
		        autoplay: false,
		        autoheight: false,
		        startAt: $(gliderDom).data('starting-index')+1,
		        afterInit: function(evt) {
		        	// The people list is invisible by default, show it, but only after a delay to allow page to load
		        	setTimeout(function() {
			        	$(evt.current[0]).fadeTo(500, 1);
		        	} , 500);
		        },
		        beforeTransition: function(evt) {
		        	$(evt.current[0]).fadeTo(100, 0);
		        },
		        afterTransition: function(evt) {
		         	// Show corresponding category
		        	updateCategory();

		        	// Update URL with the person's key
							var personKey = $(".glide__slide.active .person-bio-left").data('key');
							window.history.pushState(null, null, personKey);

		        	$(evt.current[0]).fadeTo(100, 1);
						}
		    });
		    gliderApi = gliderObj.data('glide_api');

		    // Updated people category header
		    function updateCategory() {
		    	
		    	var person = $(".glide__slide.active .person-bio-left");
					var cat = person.data('category');
					
					$('#person_category').text(cat);

		    }

		    updateCategory();

			});

		{{/ifeq}}

		{{!-- PROJECT Template Script --}}
		{{#ifeq key 'project'}}

			var gliderDom = $("#project_images_glider");

			imageLoaded(gliderDom, function() {

				// Initialize project images carousel
				// - Do autoheight for desktop only
				gliderDom.glide({
		        type: "carousel",
		        autoplay: false,
		        autoheight: !jQuery.browser.mobile
		    });
			
			});
		
		{{/ifeq}}

		{{!-- ABOUT Template Script --}}
		{{#ifeq section 'cmap'}}

			columnResize('.column');
      columnResize('.team-cmap');

			$(window).resize(function() {
        columnResize('.column');
        columnResize('.team-cmap');
	    });

			function columnResize(element) {
				var elementHeights = $(element).map(function() {
					$(this).height('100%');
			    return $(this).height();
			  }).get();

			  var maxHeight = Math.max.apply(null, elementHeights);

			  $(element).height(maxHeight);
			}
			
			$('#student-quotes').isotope({
		    itemSelector: '.quote', 
		    percentPosition: true,
			  masonry: {
			    columnWidth: '.quote'
			  }
		  });

		{{/ifeq}}

		{{!-- SYLLABI Template Script --}}
		{{#ifeq section_type 'filter'}}

			{{#ifeq section 'publications'}}

			var filterContainer = [$('#books-content'), $('#guides-content'), $('#articles-and-chapters-content')];
			var filterElem = '.publication-item';

			{{/ifeq}}

			{{#ifeq section 'projects'}}

			var filterContainer = [$('#projects-isotope')];
			var filterElem = '.project-item';

			{{/ifeq}}

			{{#ifeq section 'alumni'}}
			var filterContainer = [{{#each alumni}}$('{{selector @key}}-content'){{#unless @last}}, {{/unless}}{{/each}} ];
			var filterElem = '.alumni-item';

      columnResize(filterElem);

			$(window).resize(function() {
        columnResize(filterElem);
	    });

			function columnResize(element) {
				var elementHeights = $(element).map(function() {
					$(this).height('100%');
			    return $(this).height();
			  }).get();

			  var maxHeight = Math.max.apply(null, elementHeights);

			  $(element).height(maxHeight);
			}

			{{/ifeq}}

			var filtered = 0;
			var filters = {};

			var formats = $('.dropdown-menu li .option-format').size() - 1;
			var people = $('.dropdown-menu li .option-person').size() - 1;
			var keywords = $('.dropdown-menu li .option-keyword').size() - 1;
			var cohorts = $('.dropdown-menu li .option-cohort').size() - 1;

			$('span.format-number').html("(" + formats + ")");
			$('span.person-number').text("(" + people + ")");
			$('span.keyword-number').text("(" + keywords + ")");
			$('span.cohort-number').text("(" + cohorts + ")");

			if ($('.filters-chosen').find('div').length > 0) {
				$('.filters-chosen').css('display', 'inline-block');
				$('.filters-chosen div').find('span').unbind('click').on('click', function(){
					$('.dropdown-menu li a:contains("' + $(this).closest('div').attr('id').replace('-select', '') + '")').trigger('click');
				});
			}
			else
				$('.filters-chosen').hide();


			var maxHeight = function(selector) {
				var heights = $(selector).map(function(){
					return $(this).height();
				}).get();

				return Math.max.apply(null, heights);
			}	

			$('.dropdown-menu li').delegate('a','click', function() {
				
				$(this).toggleClass('is-checked');

				applyFilter(this, $(this).hasClass('is-checked'));
				displayChecked(this, $(this).hasClass('is-checked'));
			});

			_.each(filterContainer, function(container){

				filters = {};

				$(container).imagesLoaded( function() {
					
					var $filtered = $(container).isotope({
				    itemSelector: filterElem,
				    filter: '*'
					});

					$('.clear-all').trigger('click');

					var num = $filtered.isotope('getFilteredItemElements').length;
					checkFiltered(num, container);
				});

			});

			function displayChecked (elem, selected) {

				var selector = $(elem);
				var label = selector.data('filter-group');                                                                                                       
				var option = selector.html();

				if (selected)
					$('.filters-chosen').append('<div class="selection" id="' + $(selector).attr('id') + '-select">' + option + '<span>x</span></div>');
				else 
					$('.filters-chosen').find('div:contains("' + option + '")').remove();

				if ($('.filters-chosen').find('div').length > 0) {

					$('.filters-chosen').css('display', 'inline-block');

					$('.filters-chosen div span').on('click', function() {

						var originalId = $(this).closest('div').attr('id').replace('-select', '');
						var ddItem = $('.dropdown-menu li a[id="' + originalId + '"]');

						$(ddItem).toggleClass('is-checked');

						applyFilter(ddItem, $(ddItem).hasClass('is-checked'));
						displayChecked(ddItem, $(ddItem).hasClass('is-checked'));
						
					});

				}
				else
					$('.filters-chosen').hide();
			}

			function checkFiltered (num, container) {

				if (num === 0) {
					container = container.attr('id').replace('-content', '');
					$('#' + container).hide();
				} else {
					container = container.attr('id').replace('-content', '');
					$('#' + container).show();
				}

				filtered += num;
				
				if ( filtered === 0 ) {
				  $('.no-filtered-visible').show();
				} else {
					$('.no-filtered-visible').hide();
				}

			}
		    
	    function applyFilter(elem, selected) {

	    	filtered = 0;
				
		    var selector = $(elem);
		    
		    // store filter value in object
		    var group = selector.data('filter-group');

		    if (!filters[group]) { 
					filters[group] = [];
				}

				if (selected) {
					if (selector.data('filter-value').length >= 1)
				    filters[group].push(selector.data('filter-value').toString());
				} else {
					var index = filters[group].indexOf(selector.data('filter-value').toString());
					if (index > -1) {
						filters[group].splice(index, 1);
					}
				}
		    
		    // convert object into array
		    var isoFilters = [];
		    for ( var prop in filters ) {
		      isoFilters.push( filters[ prop ] );
		    }
		    			    
		    var filterStr = isoFilters.join('');
		    
		    _.each(filterContainer, function(container){
					var $filtered = $(container).isotope({ filter: filterStr });
					var num = $filtered.isotope('getFilteredItemElements').length;
					checkFiltered(num, container);   
				});

		  }

			$(".clear-all").on('click', function() {
				
				filters = {};
		    _.each(filterContainer, function(container){
					$(container).isotope({
			        filter: '*'
			    });
				});
				$('.filters-chosen').hide().find('.selection').remove();
					
				$('.is-checked').removeClass('is-checked');
				$('.all-options').addClass('is-checked');
				$('.all-options').each(function(i, obj){
					applyFilter(this);
					displayChecked(this);
				});

			});
		
		{{/ifeq}}

		{{!-- CPI Registration Template Script --}}
		{{#ifeq section 'commmunityplanit:boston'}}

		$('.main-navigation').hide();

		$('#submit_btn').click(function(event) {
	
			$("#register_form").validate({
				
				submitHandler: function() {

				  var data = $("#register_form :input[type!='hidden']").serializeArray();
					
					$.ajax({
					  type: "POST",
					  url: "/api/cpi/register/",
					  data: data,
					  success: function(msg) {
					  	$('#form_container').fadeOut(500, function() {
					  		
						  	$('#done_container').hide().fadeIn(500);
					  	
					  	});
					  },
					  error: function(XMLHttpRequest, textStatus, errorThrown) {
					  	$('#form_errors').show();
					  }
					});

				}

			});

		});
		
		{{/ifeq}}

	})
</script>