<!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
<!-- ================ -->
<footer id="footer" class="clearfix dark">

	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer">
		<div class="container">
			<div class="footer-inner">
			
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="dark footer-content text-center padding-ver-clear">

							<div class="logos-footer center-block">
								<img id="logo" src="/images/logos/logo_white.png" alt="Engagement Lab">
								<img id="logo-emerson" src="/images/logos/emerson_name.png" alt="Emerson College">
							</div>

							<!-- Begin MailChimp Signup Form -->
							{{!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> --}}
							<div id="mc_embed_signup">
								<form action="https://engagementgamelab.us6.list-manage.com/subscribe/post?u=8cb16e3042072f11cc0680d36&amp;id=e9f56f4f4d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							    <div id="mc_embed_signup_scroll">
										
									<div class="mc-field-group">
										<input type="email" placeholder="Enter your email" name="EMAIL" class="required email" id="mce-EMAIL" style="width:200px">
										<input type="submit" value="Subscribe to Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button">
									</div>
									
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>
							    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8cb16e3042072f11cc0680d36_e9f56f4f4d" tabindex="-1" value=""></div>
							    </div>
								</form>
							</div>
							<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
							<!--End mc_embed_signup-->

							<p class="lead text-center">An applied research lab at Emerson College for reimagining civic engagement in a digital culture<br />

							<ul class="list-inline mb-20">
								<li><i class="text-default fa fa-map-marker pr-5"></i>120 Boylston St. Boston, MA 02116</li>
								<li><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info at elab.emerson.edu</li>
								<li><i class="text-default fa fa-suitcase pl-10 pr-5"></i><a href="/jobs">Jobs</a></li>
								<li><i class="text-default fa fa-group pl-10 pr-5"></i><a href="/privacy">Privacy Policy</a></li>
							</ul>
							<ul class="social-links circle margin-clear">
								<li class="facebook"><a href="http://www.facebook.com/EngagementLab"><i class="fa fa-facebook"></i></a></li>
								<li class="twitter"><a href="http://www.twitter.com/EngageLab"><i class="fa fa-twitter"></i></a></li>
								<li class="instagram"><a href="https://www.instagram.com/EngageLab"><i class="fa fa-instagram"></i></a></li>
								<li class="github"><a href="https://github.com/engagementgamelab"><i class="fa fa-github"></i></a></li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->

</footer>
<!-- footer end -->